{% extends "index.html" %}
{% block style %}
#content {
	margin: 0 auto;
	width: 1000px;
}
h2 {
	text-align: center;
}
textarea {
   resize: none;
}
{% endblock %}
{% block content %}
	<h2> CSRF </h2>
	<p align="center"> Try to send an email to a victim that contains an image whose URL is pointing to a malicious request. </p>
	<p align="center"> The URL should point to the CSRF page with an extra parameter "{{ parameter }}" </p>
	<div class="container" style="width:300px">
	      <form class="form-signin" action="" method="post">
	        <tr> 
			    <td> Title </td>
	        	<input type="text" class="form-control" name="title">
			</tr>
	        <tr> 
			    <td> Message </td>
	        	<textarea type="text" class="form-control" cols="200" rows="10" name="message" > {% if response %} {{ response }} {% endif %} </textarea>
			</tr>
	        <input class="btn btn-lg btn-primary btn-block" style="margin-top:20px" type="submit" value="Submit">
	      </form>
		  {% if msg %}
		   		{{ msg }} 
		  {% endif %}
		  {% if error and not success %}
		   		<p class="error"><strong style="color:red;">Error:</strong> {{ error }} </p>
		  {% endif %}
		  {% if success %}
		   		<p class="success"><strong style="color:blue;"> {{ success }} </strong> </p>
				<p class="success"><strong style="color:blue;"> Your code is {{ code }} </strong> </p>
		  {% endif %}
	    </div>
{% endblock %}

