{% extends "index.html" %}
{% block style %}
#content {
	margin: 0 auto;
	width: 1000px;
}
h2,h4 {
	text-align: center;
}
{% endblock %}
{% block content %}
	<h2> Insecure Login </h2>
	<h4> Try to find the password </h4>
	<div class="container" style="width:300px">
	      <form class="form-signin" action="" method="post">
	        <h4>Please log in </h4>
	        <input type="text" readonly="" class="form-control"  name="username" value="User">
	        <input type="password" readonly="" class="form-control" placeholder="Confirm Password" name="password" value="a2Hkio8lm%">
	        <input class="btn btn-lg btn-primary btn-block" style="margin-top:20px" type="submit" value="Save">
	      </form>
		  {% if error %}
		   		<p class="error"><strong style="color:red;">Error:</strong> {{ error }} </p>
		  {% endif %}
		  {% if success %}
		   		<p class="success"><strong style="color:blue;"> {{ success }} </strong> </p>
		  {% endif %}
	    </div>
{% endblock %}
