{% extends "index.html" %}
{% block style %}
#content {
	margin: 0 auto;
	width: 1000px;
}
h2 {
	text-align: center;
}
h4 {
	text-align: center;
}
{% endblock %}
{% block content %}
	<h2> Authentication flaws </h2>
	<h4> Try to reset password of the admin </h4>
	<div class="container" style="width:300px">
	      <form class="form-signin" action="" method="get">
	        <h3 class="form-signin-heading">What's your favorite color?</h3>     
	        <input type="text" class="form-control" name="color">
	        <input class="btn btn-lg btn-primary btn-block" style="margin-top:20px" type="submit" value="Submit">
	      </form>
		  {% if msg %}
		   		{{ msg }} 
		  {% endif %}
		  {% if error %}
		   		<p class="error"><strong style="color:red;">Error:</strong> {{ error }} </p>
		  {% endif %}
		  {% if success %}
		   		<p class="success"><strong style="color:blue;"> {{ success }} </strong> </p>
				<p class="success"><strong style="color:blue;"> Your code is {{ code }} </strong> </p>
		  {% endif %}
	    </div>
{% endblock %}

