{% extends "index.html" %}
{% block style %}
#content {
	margin: 0 auto;
	width: 1000px;
}
h2 {
	text-align: center;
}
{% endblock %}
{% block content %}
	<h2> CSRF </h2>
	<div class="container" style="width:300px">
	      <form class="form-signin" action="" method="post">
	        <h4>Change your admin password</h4>
	        <input type="password" class="form-control" placeholder="New Password" name="newpassword">
	        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmedpassword">
	        <input class="btn btn-lg btn-primary btn-block" style="margin-top:20px" type="submit" value="Save">
	      </form>
		  {% if error %}
		   		<p class="error"><strong>Error:</strong> {{ error }} </p>
		  {% endif %}
		  {% if success %}
		   		<p class="success"><strong> {{ success }} </strong> </p>
		  {% endif %}
	    </div>
{% endblock %}
